.boosting {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  background-color: #fff;
  padding: 60px 0 30px;

  &__text {
    width: 100ch;
    color: #555;
    text-align: center;
    font-size: 20px;
    line-height: 1.6em;
    margin: 30px 0;
  }

  &__block {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "one two"
      "three three";
    width: 80vw;
  }

  &__cart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    padding: 15px;
    transition: 0.3s;
    &:nth-child(1) {
      grid-area: one;
    }
    &:nth-child(2) {
      grid-area: two;
    }
    &:nth-child(3) {
      grid-area: three;
    }
    &:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
    h3 {
      color: #333;
      margin: 0 0 10px;
      .fa-globe,
      i {
        display: none;
      }
    }

    .fa-globe,
    i {
      margin: 0 20px 20px;
      font-size: 30px;
      color: $main-color;
    }

    .fa-globe {
      color: white;
      background-color: $main-color;
      display: inline;
      border-radius: 16px;
      padding: 1px;
    }

    p {
      color: #444;
      line-height: 1.4em;
    }
  }
}

@media screen and (max-width: 768px) {
  .boosting {
    &__text {
      width: initial;
      font-size: 20px;
      line-height: 1.2em;
      margin: 30px 0;
    }
    &__block {
      grid-template-areas:
        "one"
        "two"
        "three";
    }
    &__cart {
      .fa-globe,
      i {
        display: none;
      }
      h3 {
        .fa-globe,
        i {
          display: inline;
        }
      }
    }
  }
}
