.results {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  background-color: #fff;
  padding: 60px 0 0px;
  &__text {
    width: 70ch;
    color: #555;
    text-align: center;
    font-size: 20px;
    line-height: 1.6em;
    margin: 30px 0;
  }
  &__block {
    line-height: 1.4em;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
  }
  &__card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    padding: 15px;
    img {
      border-radius: 500px;
    }
    p:nth-child(3) span {
      @include main-color-transparent(0.8);
      color: #fff;
      padding: 5px 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .results {
    &__text {
      width: initial;
      line-height: 1.2em;
      margin: 30px 10px;
    }
    &__block {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
    }
    &__card {
      p {
        text-align: center;
      }
    }
  }
}
