* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: AstroSpace;
  src: url(./AstroSpace-eZ2Bg.ttf);
}

[data-lang="en"] {
  display: none;
}

[src="../pics/peak_logo.png"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

[src="../pics/peak_logo.png"]:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.6));
          filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.6));
}

body {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: AstroSpace;
}

.main {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main .transp-bgc {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../pics/bg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../pics/bg.jpg");
  background-size: 140vw;
  background-position-x: center;
  background-attachment: fixed;
  width: 100%;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0);
  height: 500px;
}

@media screen and (max-width: 768px) {
  .main {
    background-size: 600px;
  }
  .main .transp-bgc {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../pics/bgSmall.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../pics/bgSmall.jpg");
  }
}

.header {
  position: fixed;
  width: calc(100vw - 50px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43px;
  padding: 15px 25px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(6, 38, 78, 0.9);
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
}

.header__logo img {
  margin: 0 30px;
  width: calc(100% - 60px);
}

.header__group {
  -webkit-box-flex: 10;
      -ms-flex: 10 1 auto;
          flex: 10 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__group > * {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  margin: 0 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__group > *:hover {
  cursor: pointer;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
}

.header__end {
  width: 480px;
}

.header__end-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 5px 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.header__end-link:hover {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
}

.header__lang {
  display: inline;
  position: relative;
}

.header__lang__btn {
  display: inline;
}

.header__lang__btn a {
  text-decoration: none;
}

.header__lang__btn img {
  width: 20px;
}

.header__lang__btn i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
}

.header__lang__dropdown {
  display: none;
  position: absolute;
  right: 10px;
}

.header__lang__dropdown a {
  text-decoration: none;
  opacity: 0.6;
}

.header__lang__dropdown img {
  margin: 5px;
  width: 20px;
}

.header__lang__dropdown i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
}

.header .contactus {
  padding: 10px 15px;
  border: 1.5px solid #fff;
  border-radius: 500px;
}

.header .contactus:hover {
  background: #fff;
  color: #06264d;
}

.header__placeholder {
  width: 100%;
  background-color: #06264e;
}

.heading__underline {
  max-width: calc(80vw - 40px);
  margin: 0 10vw;
  font-weight: 600;
  line-height: 1.6em;
  font-size: 40px;
  color: #444;
  padding: 25px 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading__underline::after {
  content: "";
  display: block;
  margin: 10px 0 0;
  height: 3px;
  width: 40%;
  background-color: #06264d;
}

@media screen and (max-width: 768px) {
  .heading__underline {
    font-weight: 600;
    line-height: 1.2em;
    font-size: 20px;
    padding: 0px;
    max-width: 80vw;
  }
  .header {
    padding: 15px 40px;
    width: calc(100% - 80px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__links, .header__end {
    display: none;
  }
  .header__logo {
    -webkit-box-flex: 4;
        -ms-flex: 4 1 auto;
            flex: 4 1 auto;
  }
  .header__logo img {
    width: 130px;
  }
  .header__group {
    display: none;
  }
}

.description {
  padding: 80px 0 120px;
  background-color: #fff;
}

.description__blocks {
  font-size: 18px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.6em;
  width: 40vw;
  margin: 10px;
  padding: 15px;
}

.description__card h3 {
  color: #333;
  margin: 0 0 10px;
}

.description__card h3 i {
  display: none;
}

.description__card i {
  margin: 0 20px 20px;
  font-size: 30px;
  color: #06264d;
}

.description__card p {
  color: #444;
  line-height: 1.4em;
}

@media screen and (max-width: 768px) {
  .description {
    padding: 40px 0 60px;
  }
  .description__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(100% - 40px);
    padding: 10px 20px;
  }
  .description__card {
    width: 80vw;
  }
  .description__card i {
    display: none;
  }
  .description__card h3 i {
    display: inline;
  }
}

.boosting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 60px 0 30px;
}

.boosting__text {
  width: 100ch;
  color: #555;
  text-align: center;
  font-size: 20px;
  line-height: 1.6em;
  margin: 30px 0;
}

.boosting__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "one two" "three three";
  width: 80vw;
}

.boosting__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.boosting__cart:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.boosting__cart:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.boosting__cart:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: three;
}

.boosting__cart:hover {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.boosting__cart h3 {
  color: #333;
  margin: 0 0 10px;
}

.boosting__cart h3 .fa-globe,
.boosting__cart h3 i {
  display: none;
}

.boosting__cart .fa-globe,
.boosting__cart i {
  margin: 0 20px 20px;
  font-size: 30px;
  color: #06264d;
}

.boosting__cart .fa-globe {
  color: white;
  background-color: #06264d;
  display: inline;
  border-radius: 16px;
  padding: 1px;
}

.boosting__cart p {
  color: #444;
  line-height: 1.4em;
}

@media screen and (max-width: 768px) {
  .boosting__text {
    width: initial;
    font-size: 20px;
    line-height: 1.2em;
    margin: 30px 0;
  }
  .boosting__block {
        grid-template-areas: "one" "two" "three";
  }
  .boosting__cart .fa-globe,
  .boosting__cart i {
    display: none;
  }
  .boosting__cart h3 .fa-globe,
  .boosting__cart h3 i {
    display: inline;
  }
}

.making {
  padding: 100px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.making__block {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.making__block-content {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 auto;
          flex: 5 1 auto;
}

.making__block-heading {
  color: #06264d;
  width: 30ch;
  line-height: 1.4em;
}

.making__block-text {
  line-height: 1.6em;
  margin: 5px 0 10px;
  width: 40ch;
}

.making__block-btn {
  padding: 12px 24px;
  margin: 5px;
  background-color: #fff;
  color: #06264d;
  border: 1.5px solid #06264d;
  border-radius: 5px;
  font-size: 20px;
}

.making__block-btn:nth-child(even) {
  background-color: #06264d;
  color: #fff;
  border: 1.5px solid #06264d;
}

.making__block-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.making__block:nth-child(odd) .making__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.making__block:nth-child(odd) .making__block-img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media screen and (max-width: 768px) {
  .making {
    padding: 40px 0 60px;
  }
  .making__block {
    margin: 10px 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .making__block-heading {
    width: initial;
    font-size: 20px;
    text-align: center;
  }
  .making__block-text {
    width: initial;
    text-align: center;
  }
  .making__block-btn {
    display: block;
    width: calc(100% - 10px);
  }
  .making__block-img {
    width: 90%;
  }
  .making__block .making__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .making__block .making__block-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 60px 0 0px;
}

.results__text {
  width: 70ch;
  color: #555;
  text-align: center;
  font-size: 20px;
  line-height: 1.6em;
  margin: 30px 0;
}

.results__block {
  line-height: 1.4em;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.results__card img {
  border-radius: 500px;
}

.results__card p:nth-child(3) span {
  background-color: rgba(6, 38, 78, 0.8);
  color: #fff;
  padding: 5px 10px;
}

@media screen and (max-width: 768px) {
  .results__text {
    width: initial;
    line-height: 1.2em;
    margin: 30px 10px;
  }
  .results__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .results__card p {
    text-align: center;
  }
}

.footer {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #292929;
  width: 80%;
  padding: 20px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 100px;
  margin: 30px;
  cursor: pointer;
}

.footer__logo:hover {
  -webkit-box-shadow: 0 0 5 white;
          box-shadow: 0 0 5 white;
}

.footer__logo img {
  width: 100px;
}

.footer__list {
  margin: 15px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 160px;
}

.footer__list div {
  height: 40px;
  padding: 0 30px;
}

.footer__list div span {
  font-size: 18px;
  line-height: 1.8em;
  text-decoration: none;
  color: #fff;
}

.footer__text {
  margin: 10px 0;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer__logo {
    width: 30%;
  }
  .footer__list {
    height: 280px;
  }
}

.sidenav {
  display: none;
}

.sidenav__btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav .pageLink {
    display: block;
  }
  .sidenav button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }
  .sidenav__btn {
    color: #fff;
    margin: 10px;
    font-size: 22px;
    display: inline;
    -webkit-box-flex: 4;
        -ms-flex: 4 1 auto;
            flex: 4 1 auto;
  }
  .sidenav a,
  .sidenav p {
    cursor: pointer;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sidenav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 180px;
    margin-bottom: 30px;
  }
  .sidenav__logo img {
    margin: 0 30px;
    width: calc(100% - 60px);
  }
  .sidenav__social {
    display: inline;
  }
  .sidenav__links {
    margin-bottom: 10px;
  }
  .sidenav__links > * {
    display: block;
  }
  .sidenav__links > *:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav__lang {
    display: inline;
    position: relative;
  }
  .sidenav__lang__btn {
    display: inline;
  }
  .sidenav__lang__btn a {
    text-decoration: none;
  }
  .sidenav__lang__btn img {
    width: 20px;
  }
  .sidenav__lang__btn i {
    font-size: 12px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #fff;
    text-decoration: none;
  }
  .sidenav__lang__dropdown {
    width: 40px;
    display: none;
  }
  .sidenav__lang__dropdown a {
    text-decoration: none;
    opacity: 0.6;
  }
  .sidenav__lang__dropdown img {
    margin: 5px;
    width: 20px;
  }
  .sidenav__lang__dropdown i {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #fff;
    text-decoration: none;
  }
}

@-webkit-keyframes shakeanimation {
  0% {
    -webkit-transform: translate3d(10px, 0px, -100px);
            transform: translate3d(10px, 0px, -100px);
  }
  25% {
    -webkit-transform: translate3d(-10px, 0px, -100px);
            transform: translate3d(-10px, 0px, -100px);
  }
  50% {
    -webkit-transform: translate3d(10px, 0px, -100px);
            transform: translate3d(10px, 0px, -100px);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0px, -100px);
            transform: translate3d(-10px, 0px, -100px);
  }
  100% {
    -webkit-transform: translate3d(10px, 0px, -100px);
            transform: translate3d(10px, 0px, -100px);
  }
}

@keyframes shakeanimation {
  0% {
    -webkit-transform: translate3d(10px, 0px, -100px);
            transform: translate3d(10px, 0px, -100px);
  }
  25% {
    -webkit-transform: translate3d(-10px, 0px, -100px);
            transform: translate3d(-10px, 0px, -100px);
  }
  50% {
    -webkit-transform: translate3d(10px, 0px, -100px);
            transform: translate3d(10px, 0px, -100px);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0px, -100px);
            transform: translate3d(-10px, 0px, -100px);
  }
  100% {
    -webkit-transform: translate3d(10px, 0px, -100px);
            transform: translate3d(10px, 0px, -100px);
  }
}

.hero {
  position: relative;
  height: 80vh;
  width: 100vw;
  margin: 0 -20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero:hover > .hero__bg {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-animation: shakeanimation 0.8s infinite ease;
          animation: shakeanimation 0.8s infinite ease;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-size: cover;
  background-position: center;
  background-color: #cccccc;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../pics/clear_background.png");
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.hero__text h3 {
  font-size: 35px;
  color: #06264d;
  margin: 20px 0 30px;
  font-weight: 100;
}

.hero__text img {
  width: 40%;
}

.hero__text a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: calc(16ch + 30px);
  text-align: center;
  display: block;
  margin: 15px calc(50vw - 8ch - 15px);
  padding: 15px 5px;
  background-color: #42a6f1;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  border-radius: 50px;
}

.hero__text a:hover {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.9);
  background-color: #92c0e2;
}

@media screen and (max-width: 768px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
  .hero__text {
    top: 50%;
    left: 50%;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  }
  .hero__text h3 {
    width: 20ch;
    font-size: 20px;
    font-weight: 100;
    margin: 5px auto;
  }
  .hero__text h1 {
    font-size: 40px;
  }
  .hero__text img {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */